@{

    Layout = null;
}

<div id="divCategoryEdit">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        @Html.Partial("~/Views/ComView/InnerTop.cshtml")
        @Html.Partial("~/Views/ComView/InnerLeft.cshtml")
    </nav>
    <div ng-class="{page_wrapper_max:pagemax, page_wrapper_min:pagemin}">

        <br />
        <div class="page_content">
            <div class="row">
                <div class="control_bar">
                    <a class="more-link" href="#/DashBoard" style="display:block; margin-bottom:15px; cursor:pointer; text-decoration:none;"><i class="icon_return float_left"></i></a>
                </div>
            </div>

            <div class="row">
                <br />
                <div class="tree">
                    <ul>
                        <li ng-repeat="header in category">
                            <span ng-show="header.isEdit != true"><span class="action_icon"><a href="javascript:void(0)" ng-click="AddSubNode(header,'header')"> + </a></span><span style="border:hidden;" ng-click="EditNode(header)">{{header.CategoryHeaderName}}</span> <span class="action_icon"></span></span>
                            <span style="max-width:160px;" ng-show="header.isEdit == true"><input type="text" ng-model="header.CategoryHeaderName" /><a class="icon_check float_right" href="javascript:void(0)" ng-click="SaveNode(header.CategoryHeaderName,header,'header')"></a></span>

                            <ul>
                                <li ng-repeat="detail in header.CategoryDetails">
                                    <span ng-show="(detail.isNewAdd != true && detail.isEdit != true)"><span class="action_icon"><a href="javascript:void(0)" ng-click="AddSubNode(detail,'detail')"> + </a></span><span style="border:hidden;" ng-click="EditNode(detail)">{{detail.CategoryDetailName}}</span><a href="javascript:void(0)" ng-click="DeleteNode(detail.Id,'detail',$index,header)"> x </a></span>
                                    <span ng-show="detail.isEdit==true"><input type="text" ng-model="detail.CategoryDetailName" /><a class="icon_check float_right margin-top-5" href="javascript:void(0)" ng-click="SaveNode(detail.CategoryDetailName,detail,'detail')"></a></span>
                                    <span ng-show="detail.isNewAdd == true"><i class="icon-minus-sign"></i><input type="text" ng-model="detail.CategoryDetailName" /><a class="icon_check float_right margin-top-5" href="javascript:void(0)" ng-click="SaveNewNode(header.Id,detail,'header',$event)"></a></span>

                                    <ul>
                                        <li ng-repeat="customer in detail.CategoryCustomers">
                                            <span ng-show="(customer.isEdit != true && customer.isNewAdd != true)" ng-click="EditNode(customer)">{{customer.CategoryCustomerName}} <a href="javascript:void(0)" ng-click="DeleteNode(customer.Id,'customer',$index,detail)"> x </a></span>
                                            <span ng-show="customer.isEdit == true"><input type="text" ng-model="customer.CategoryCustomerName" /><a class="icon_check float_right margin-top-5" href="javascript:void(0)" ng-click="SaveNode(customer.CategoryCustomerName,customer,'customer')"></a></span>
                                            <span ng-show="customer.isNewAdd == true"><input type="text" ng-model="customer.CategoryCustomerName" /><a class="icon_check float_right margin-top-5" href="javascript:void(0)" ng-click="SaveNewNode(detail.Id,customer,'detail',$event)"></a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            @*

                <div class="row">
                    <br />
                    <div class="tree">
                        <ul>
                            <li>
                                <span><i class="icon-folder-open"></i> Project</span> <a href="">+</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-leaf"></i> NetRebate</span> <a href="">+</a>
                                        <ul>
                                            <li>
                                                <span><i class="icon-leaf"></i> HDS</span> <a href=""> x </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> Productivity</span> <a href="">+</a>
                                        <ul>
                                            <li>
                                                <span><i class="icon-leaf"></i> AFG</span> <a href=""> x </a>
                                            </li>
                                            <li>
                                                <span><i class="icon-minus-sign"></i> Aimtec</span> <a href=""> x </a>
                                            </li>
                                            <li>
                                                <span><i class="icon-leaf"></i> Future</span> <a href=""> x </a>
                                            </li>
                                            <li>
                                                <span><i class="icon-leaf"></i> KP</span> <a href=""> x </a>
                                            </li>
                                            <li>
                                                <span><i class="icon-leaf"></i> LHT</span> <a href=""> x </a>
                                            </li>
                                            <li>
                                                <span><i class="icon-leaf"></i> Platform</span> <a href=""> x </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> WDF</span> <a href="">+</a>
                                        <ul>
                                            <li>
                                                <span><i class="icon-leaf"></i> Adesto</span> <a href=""> x </a>
                                            </li>
                                            <li>
                                                <span><i class="icon-leaf"></i> Nantero</span> <a href=""> x </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="icon-folder-open"></i> R & D</span> <a href="">+</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-leaf"></i> Productivity</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> WDF</span> <a href=""> x </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="icon-folder-open"></i> Sales & Marketing</span> <a href="">+</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-leaf"></i> Leads</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> Meeting</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> Web</span> <a href=""> x </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="icon-folder-open"></i> Admin & HR</span> <a href="">+</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-minus-sign"></i> Admin</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i> Finance</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i> Meeting</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i> Training</span> <a href=""> x </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="icon-folder-open"></i> Other</span> <a href="">+</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-leaf"></i> Unplanned Leave</span> <a href=""> x </a>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> Vacation</span> <a href=""> x </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearboth"></div>
                    </div>
                </div>
            *@
        </div>
    </div>
</div>

