<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AzureBlobStorage" value="DefaultEndpointsProtocol=https;AccountName=chirptest;AccountKey=k7RKLubartk2YtLh5L7pw5LKLUlHvND3obiEzGxzOfpK21eslf0IZtH3XK2QPe3PvsPu47pyI4fWee48THx1Ng=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
