<style>
      *{
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .TabNav{
       
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
      }

      .TabNav ul li{
        float: left;
        background: -webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#ededed));
        border: 1px solid #ccc;
        padding: 5px 0;
        width: 100px;
        text-align: center;
        margin-left: -1px;
        position: relative;
        cursor: pointer;
      }

      .TabCon{
        position: absolute;
        left: -1px;
        top: 30px;
        border: 1px solid #ccc;
        border-top: none;
        width: 403px;
        height: 100px;
      }

      .TabNav ul li.active{
        background: #FFFFFF;
        border-bottom: none;
      }
    </style>

<div id="wrapper">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        @Html.Partial("~/Views/ComView/InnerTop.cshtml")
        @Html.Partial("~/Views/ComView/InnerLeft.cshtml")
    </nav>
    <div ng-class="{page_wrapper_max:pagemax, page_wrapper_min:pagemin}">
        <div class="page_content">
            <br />
            @*<div class="breadcrumb">
                    <a style="cursor:pointer" href="/#/DashBoard"><i class="icon_home float_left margin-right-5"></i>TimeSheet</a>
                </div>*@

            <div class="row margin-top-15">

                <div>
                    <table>
                        <tr>
                            <td style="width:6%;">
                                <ul>
                                    <li ng-click="SelectCategory($index)" ng-repeat="category in ShowSys">{{category.CategoryName}}</li>
                                    <li ng-click="AddNewCategory();">+</li>
                                </ul>
                            </td>
                            <td style="width:94%;"><script id="editor" type="text/plain" style="width:100%;"></script>
                            </td>
                        </tr>
                        <tr>
                        <td colspan="2">
                            <div class="TabNav">
                                <ul>
                                    <li ng-click="SelectSubCategory($index)" ng-repeat="subCategory in ShowSys[CategoryIndex].listSubCategory">{{subCategory.SubCategoryName}}</li>
                                    <li ng-click="AddNewSubCategory();">+</li>
                                </ul>
                            </div>
                        </td>
                        </tr>
                    </table>

                </div>



            </div>
            <br />
        </div>
    </div>
    <br />
</div>