<div id="divChangePassword">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        @Html.Partial("~/Views/ComView/InnerTop.cshtml")
        @Html.Partial("~/Views/ComView/InnerLeft.cshtml")
    </nav>

    <div ng-class="{page_wrapper_max:pagemax, page_wrapper_min:pagemin}">
        <br />
        <div class="page_content">
            <div class="row">
                <div class="control_bar">
                    <a class="more-link" href="#/DashBoard" style="display:block; margin-bottom:15px; cursor:pointer; text-decoration:none;"><i class="icon_return float_left"></i></a>
                </div>
            </div>

            <div class="row">
                <br />
                <div class="">
                    <div class="bs-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#profile" data-toggle="tab">Account Information</a></li>
                            <li><a href="#change_pwd" data-toggle="tab">Change Password</a></li>
                            <li class="disabled"><a href="#createAccount" data-toggle="tab">Create New Account</a></li>
                            <li class="disabled"><a href="#Authorization" data-toggle="tab">Authorization</a></li>
                        </ul>
                        <div class="tab-content tab_panel_border" id="myTabContent">
                            <div class="tab-pane fade active in " id="profile" >
                                <form name="" ng-submit="" novalidate>
                                    <table class="table_passwoardChanging">
                                        <tr>
                                            <th>
                                                Name:
                                            </th>
                                            <td><input type="text" class="input-medium inputBox_normal width_50" ng-maxlength="100" required ng-model="" placeholder="Ivy" /></td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td><input type="text" class="input-medium inputBox_normal width_50" ng-maxlength="100" required ng-model="" placeholder="ivy.li@t2vsoft.com" /></td>
                                        </tr>
                                        <tr>
                                            <th style="text-align:right;">Time Zone:</th>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-default" type="button"> Time Zone </button>
                                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Beijing, China</a></li>
                                                        <li><a href="#">Montreal, Canada</a></li>
                                                        <li><a href="#">Boston, USA</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phone Number:</th>
                                            <td><input type="text" class="input-medium inputBox_normal width_50" ng-maxlength="100" required ng-model="" placeholder="xxxxxxxxx" /></td>
                                        </tr>
                                        <tr>
                                            <th>LinkedIn Page:</th>
                                            <td><input type="text" class="input-medium inputBox_normal width_50" ng-maxlength="100" required ng-model="" placeholder="xxxxxxxx" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align:center">
                                                <input type="submit" class="btn" value="Submit" style="margin:50px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>

                            </div>
                            
                            <div class="tab-pane fade" id="change_pwd">
                                <form name="changpasswordform" ng-submit="ChangePassword()" novalidate>
                                    <table class="table_passwoardChanging">
                                        <tr>
                                            <th style="border-top:solid 3px #1da7e3; margin-top:2px;padding-top:50px;">
                                                Old Password:
                                            </th>
                                            <td style="padding-top:50px;"><input type="password" class="input-medium inputBox_normal width_50" ng-maxlength="100" required ng-model="PasswordModel.OldPassword" placeholder="Old Password" /></td>
                                        </tr>
                                        <tr>
                                            <th>New Password:</th>
                                            <td><input type="password" ng-maxlength="100" class="input-medium inputBox_normal width_50" required ng-model="PasswordModel.NewPassword" placeholder="New Password" /></td>
                                        </tr>
                                        <tr>
                                            <th style="text-align:right;">Confirm Password:</th>
                                            <td><input type="password" ng-maxlength="100" class="input-medium inputBox_normal width_50" required ng-model="PasswordModel.ConfirmPassword" placeholder="Confirm Password" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align:center">
                                                <input type="submit" class="btn" value="Submit" style="margin:50px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="createAccount">
                                <form name="">
                                    <table class="table_passwoardChanging">
                                        <tr>
                                            <th style="border-top:solid 3px #1da7e3; margin-top:2px;padding-top:50px;">
                                                Add Member's Email:
                                            </th>
                                            <td><input type="text" class="input-medium inputBox_normal width_50" ng-maxlength="100" required ng-model="" placeholder="example@t2vsoft.com" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align:center">
                                                <input type="submit" class="btn" value="Send Invitation" style="margin:50px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="Authorization">
                                <form name="">
                                    <table class="table_display table_statistics">
                                        <tr>
                                            <th>User</th>
                                            <th>Group</th>
                                            <th>Email</th>
                                            <th>Authorization</th>
                                        </tr>
                                        <tr ng-repeat="single in userhours">
                                            <td>{{single.DisplayName}}</td>
                                            <td>{{single.GroupName}}</td>
                                            <td>{{datesearch}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-default" type="button"> Normal User </button>
                                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Admin</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
        </div>
    </div>
</div>
